.all{
  padding-top:5%;
  padding-bottom:5%;
  text-align: center;
}

.text{
  color: #00bfff;
  font-size: 900%;
}

.button{
  border-style:none;
  border-radius: 20px;
  padding:10px 30px;
  margin: 2%;
  background: #41487e;
  color:#fff;
  font-size:250%;
  font-weight: bold;
  cursor:pointer;
  transition:300ms;
}
